@import 'assets/styles/colors';
@import 'assets/styles/reset';
@import 'assets/styles/sheared-styles';
@import 'fonts';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html {
  font-family: 'Lato';
  font-weight: bold;
  font-style: normal;
  font-size: 62.5%;
}
