@import 'colors';
@import 'variables';

:host{
  *:focus {outline:0;};
}

section {
  @media #{$midle-tablet} {
    padding: 0 2rem;
  }
}

.close-button-line{
  display: flex;
  justify-content: flex-end;
}

.cross{
  background: $red-error-color;
  color: $white-color;
  padding: 0.4rem 0.9rem;
  border-radius: 0.4rem;
  font-size: 1.7em;
  user-select:none;
  outline: none;

  &:hover {
    background-color: $shadow-red-color;
    transition: all 0.5s;
  }
  &:active{
    box-shadow: 0 0.063rem 0.5rem $light-black-color;
    transition: all 0s;
  }
}

.product-data{
  width: 40rem;
  font-size: 2em;
  @media #{$midle-tablet} {
    width: 100%;
  }
}

.form-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item-atribute{
  display: flex;
  flex-direction:column;
  padding: 0.9rem 2rem;
  justify-content: flex-end;
  font-size: 1.5em;
  color: $grey-color;
  font-size: 0.8em;

  @media #{$midle-tablet} {
    justify-content: stretch;
    padding: 0.9rem 0;
  }

  p {
    margin-bottom: 0.5rem;
  }
}

.input{
  color: $shadow-black-color;
  width: 25rem;
  border: solid 0.1rem $dark-white-color;
  padding: 1rem;
  outline: none;
  @media #{$midle-tablet} {
    width: auto;
  }
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  padding-bottom: 1.5rem;

  @media #{$midle-tablet} {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }
}

.button-modal-submit{
  color: $white-color;
  display: inline-block;
  font-size: 0.6em;
  user-select: none;
  margin: 0 1rem;

  @media #{$midle-tablet} {
    margin: auto;
  }

  &.action-btn-cancel{
    background-color: $grey-color;
    padding: 0.5rem;
    font-size: 1em;
    border-radius: 0.2rem;
    width: 12rem;

    &:hover {
      background-color: $shadow-black-color;
      transition: all 0.5s;
    }
    &:active{
      box-shadow: 0 0.063rem 0.5rem $light-black-color;
      transition: all 0s;
    }
    @media #{$midle-tablet} {
      width: 100%;
    }
  }

  &.action-btn-save{
    background-color: $blue-color;
    padding: 0.5rem;
    font-size: 1em;
    border-radius: 0.2rem;
    width: 12rem;

    &:hover {
      background-color: $dark-blue-color;
      transition: all 0.5s;
    }
    &:active{
      box-shadow: 0 0.063rem 0.5rem $light-black-color;
      transition: all 0s;
    }

    @media #{$midle-tablet} {
      width: 100%;
      margin-top: 0.5rem;
    }
  }
}

.error-msg-container{
  font-size: 0.5em;
  text-align: left;
}

.alert-danger{
  font-size: 0.7em;
  text-align: center;
  color: $shadow-red-color;
}
