<section>
  <div class="close-button-line">
    <button mat-dialog-close class="cross">&times;</button>
  </div>
  <div mat-dialog-content class="product-data">
    <form [formGroup]="editProductForm" (submit)="submit()">
      <div class="form-input">

        <div class="item-atribute">
          <span>Nombre</span>
          <input id="name" class="input input-name" type="text" autocomplete="off" formControlName="name"
            [class.invalid-input-container]="editProductForm.get('name').errors?.required && submitted">
        </div>

        <div class="item-atribute">
          <span>Descripción</span>
          <input id="description" class="input input-description" type="text" autocomplete="off"
            formControlName="description"
            [class.invalid-input-container]="editProductForm.get('description').errors?.required && submitted">
        </div>

        <div class="item-atribute">
          <span>Unidades en stock</span>
          <input id="count" class="input input-stock" type="number" autocomplete="off" formControlName="stock"
            [class.invalid-input-container]="editProductForm.get('stock').errors?.required && submitted">
        </div>

        <div class="item-atribute">
          <span>Precio</span>
          <input id="price" class="input input-price" type="number" autocomplete="off" formControlName="price"
            [class.invalid-input-container]="editProductForm.get('price').errors?.required && submitted">
        </div>

      </div>
    </form>
    <div class="button-row">
      <button class="button">
        <a class="action-btn-cancel" (click)="close()">Cancelar</a>
      </button>
      <button class="button">
        <a class="action-btn-save" (click)="submit()">Guardar</a>
      </button>
    </div>
  </div>
</section>
