<section>
  <div class="close-button-line">
    <button mat-dialog-close class="cross">&times;</button>
  </div>
  <div mat-dialog-content class="new-user-data">
    <form [formGroup]="addUserForm" (submit)="submit()">
      <div class="form-input">
        <div class="item-atribute">
          <span>Usuario:</span>
          <input id="username" class="input input-user" type="text" autocomplete="off" formControlName="username">
        </div>
        <div class="item-atribute">
          <span>Rol:</span>
          <select class="action-select-box" formControlName="roles">
            <option [selected]="true" value="User" class="select-option">Operador</option>
            <option value="Admin" class="select-option">Administrador</option>
          </select>
        </div>
        <div class="item-atribute">
          <span>Contraseña:</span>
          <input id="password" class="input input-password" type="password" autocomplete="off"
            formControlName="password">
        </div>
        <div class="item-atribute">
          <span>Confirmar contraseña:</span>
          <input id="repeatPassword" class="input input-password" type="password" autocomplete="off"
            formControlName="repeatPassword">
        </div>
      </div>
    </form>

    <div class="button-row">
      <button class="button">
        <a class="action-btn-cancel" (click)="close()">Cancelar</a>
      </button>
      <button class="button">
        <a class="action-btn-save" (click)="submit()">Guardar</a>
      </button>
    </div>
  </div>
</section>
