@import 'colors';

:host{
  *:focus {outline:0;};
}

.new-user-data{
  width: 45rem;
  font-size: 2em;
}

.close-button-line{
  display: flex;
  justify-content: flex-end;
}

.cross{
  background: $red-error-color;
  color: $white-color;
  padding: 0.4rem 0.9rem;
  border-radius: 0.4rem;
  font-size: 1.7em;
  user-select:none;
  outline: none;

  &:hover {
    background-color: $shadow-red-color;
    transition: all 0.5s;
  }
  &:active{
    box-shadow: 0 0.063rem 0.5rem $light-black-color;
    transition: all 0s;
  }
}

.form-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item-atribute{
  display: flex;
  flex-direction:column;
  padding: 0.5rem 2rem;
  justify-content: flex-end;
  font-size: 1.5em;
  color: $grey-color;
  font-size: 0.8em;
}

.input{
  height: 2rem;
  padding: 0.3rem 0.4rem;
  font-size: 0.9em;
  border: 0.063rem solid $dark-white-color;
  border-radius: 0.25rem;
  outline: 0;
  width: 20rem;
}

.action-select-box{
  height: 3rem;
  padding: 0.3rem 0.4rem;
  font-size: 0.9em;
  border: 0.063rem solid $dark-white-color;
  border-radius: 0.25rem;
  outline: 0;
  width: 21rem;
}

.button-row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 70%;
  margin: auto;
  margin-top: 4rem;
  padding-bottom: 1.5rem;
}

.button{
  color: $white-color;
  background-color: $white-color;
  display: inline-block;
  font-size: 0.6em;
  user-select: none;

  .action-btn-cancel{
    background-color: $grey-color;
    padding: 0.5rem 1.5rem;
    font-size: 1.8em;
    border-radius: 0.2rem;

    &:hover {
      background-color: $shadow-black-color;
      transition: all 0.5s;
    }
    &:active{
      box-shadow: 0 0.063rem 0.5rem $light-black-color;
      transition: all 0s;
    }
  }

  .action-btn-save{
    background-color: $blue-color;
    padding: 0.5rem 2.5rem;
    font-size: 1.8em;
    border-radius: 0.2rem;

    &:hover {
      background-color: $dark-blue-color;
      transition: all 0.5s;
    }
    &:active{
      box-shadow: 0 0.063rem 0.5rem $light-black-color;
      transition: all 0s;
    }
  }
}

.alert-danger{
  font-size: 0.7em;
  text-align: center;
  color: $shadow-red-color;
}
