@import 'colors';

:host {
  flex: 0.8;

  ::ng-deep .mat-paginator-page-size {
    align-items: center !important;
  }
  
  *:focus {outline:0;};
}

section {
  padding: 0 10rem;
}

.form-row{
  font-size: 3em;
  padding: 3rem 0 1rem;
  user-select:none
}

.line {
  margin: 2rem 0;
}

/*OPERATOR ROL*/
.form-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-atribute{
  display: flex;
  flex-direction:column;
  padding: 0.5rem 2rem;
  justify-content: flex-end;
  font-size: 1.5em;
  color: $grey-color;
  user-select:none;
}

.input{
  color: $shadow-black-color;
  width: 25rem;
  border: solid 0.1rem $dark-white-color;
  padding: 0.9rem;
  outline: none;
}

.button-row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 70%;
  margin: auto;
  margin-top: 3rem;
}

.action-btn-small{
  color: $white-color;
  display: inline-block;
  border-radius: 0.9rem;
  outline: none;

  &:hover {
    transition: all 0.5s;
    filter: brightness(90%);
  }
  &:active{
    box-shadow: 0 0.063rem 0.5rem $light-black-color;
    transition: all 0 s;
  }
}

.action-btn-save{
  color: $white-color;
  display: inline-block;
  background-color: $blue-color;
  padding: 0.8rem 7.5rem;
  font-size: 1.8em;
  border-radius: 0.2rem;
  width: 12rem;
  user-select:none;
  &:hover {
    background-color: $dark-blue-color;
    transition: all 0.5s;
  }
  &:active{
    box-shadow: 0 0.063rem 0.5rem $light-black-color;
    transition: all 0s;
  }
}

/*ADMIN ROL*/

.filter-adduser{
  display: flex;
  justify-content: space-between;
}

.filter-container{
  display: flex;
  color: $white-color;
  font-size: 1.6em;
  
  .filter-label{
    padding: 1rem 2rem;
    background-color: $blue-color;
  }
  .filter-input{
    color: $shadow-black-color;
    width: 30rem;
    border:solid 0.1rem $dark-white-color;
    padding: 0.9rem;
  }
  &:hover{
    cursor: context-menu;
  }
}

.add-btn{
  display: flex;
  min-width: 5rem;

  .action-btn-add{
    user-select:none;
    color: $white-color;
    background-color: $dark-green-color;
    padding: 1rem 1.5rem;
    font-size: 1.35em;
    border-radius: 0.4rem;

    &:hover {
      background-color: $green-color;
      transition: all 0.5s;
    }
    &:active{
      box-shadow: 0 0.063rem 0.3rem $light-black-color;
      transition: all 0s;
    }
  }
}

.invoicing-container {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  padding: 1rem;
}

.mat-elevation-z8{
  user-select:none;
}

.header-align-right{
  display: flex;
  padding: 2.1rem;
  justify-content: center;
}

.mat-column-user {
  width: 30%;
  text-align: left;
}

.mat-column-rol{
  width: 30%;
  text-align: left;
}

.mat-column-action{
  text-align: center;
  min-width: 20rem;
}

.page-number{
  margin-top: 1.7rem;
  user-select:none;
  background-color: $white-background-color;
}

