@import 'colors';

:host {
  flex: 0.8;
}

section {
  padding: 0 10rem;
}

.form-row{
  font-size: 3em;
  padding: 3rem 0 1rem;
}

.line {
  margin: 2rem 0;
}

.filter-div{
  background-color: $white-color;
  border-radius: 0.5rem;
  padding: 0.3rem 1.7rem;
  font-size: 1.6em;
  width: 20%;
}

.mat-form-field {
  width: 100%;
}

.invoicing-container {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  padding: 1rem;
}

.button{
  border-radius: 0.9rem;

  &:hover {
    box-shadow: 0 0.063rem 0.5rem $light-black-color;
    transition: all 0.5s;
  }
}

.mat-column-date {
  text-align: left;
}

.mat-column-client{
  width: 40%;
  text-align: left;
}

.mat-column-total{
  text-align: center;
}

.mat-column-action{
  text-align: right;
}

.page-number{
  margin-top: 1.7rem;
}
