<section>
  <div class="form-row">
    <h1>Notas de pedido emitidas</h1>
  </div>
  <hr class="line">

  <div class="filter-container">
    <div class="filter-label">
      <mat-label>Filtrar</mat-label>
    </div>
    <div class="filter-input">
      <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese una palabra clave." autocomplete="off">
    </div>
  </div>

  <div class="invoicing-container">
    <table mat-table [dataSource]="sourceData" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.createdAt | date: 'dd/MM/YYYY'}} </td>
      </ng-container>

      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.client}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
        <td mat-cell *matCellDef="let articulo"> ${{articulo.total}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let articulo">
          <button mat-raised-button focusable="false" class="button">
            <a class="menu-item" (click)="openModal(articulo)"><img src="assets/images/view.png"></a>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator class="page-number" [length]="100" [pageSize]="10" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = $event">
    </mat-paginator>

  </div>
</section>
