@import 'colors';
@import 'variables';

.close-button-line{
  display: flex;
  justify-content: flex-end;
  width: 40rem;
  @media #{$midle-tablet} {
    width: 100%;
  }
}

.cross{
  background: $red-error-color;
  color: $white-color;
  padding: 0.4rem 0.9rem;
  border-radius: 0.4rem;
  font-size: 1.7em;
  user-select:none;
  outline: none;

  &:hover {
    background-color: $shadow-red-color;
    transition: all 0.5s;
  }
  &:active{
    box-shadow: 0 0.063rem 0.5rem $light-black-color;
    transition: all 0s;
  }
}

.question-box{
  font-size: 2em;
  width: auto;
  display: flex;
  justify-content:center;
  user-select:none;
  margin-top: 2rem;

  @media #{$midle-tablet} {
    width: 100%;
  }
  .input-question{
    display: flex;
    justify-content:center;
    background: $white-color;
  }
}

.button-row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 4rem;
  text-align: center;
  @media #{$midle-tablet} {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.button-modal-option{
  color: $white-color;
  background-color: $white-color;
  display: inline-block;
  user-select:none;
  outline: none;

  &.action-btn-cancel{
    background-color: $grey-color;
    padding: 0.5rem;
    width: 12rem;
    font-size: 1.8em;
    border-radius: 0.2rem;

    &:hover {
      background-color: $shadow-black-color;
      transition: all 0.5s;
    }
    &:active{
      box-shadow: 0 0.063rem 0.5rem $light-black-color;
      transition: all 0s;
    }
    @media #{$midle-tablet} {
      width: 100%;
    }
  }

  &.action-btn-delete{
    background-color: $red-error-color;
    padding: 0.5rem;
    width: 12rem;
    font-size: 1.8em;
    border-radius: 0.2rem;

    &:hover {
      background-color: $shadow-red-color;
      transition: all 0.5s;
    }
    &:active{
      box-shadow: 0 0.063rem 0.5rem $light-black-color;
      transition: all 0s;
    }
    @media #{$midle-tablet} {
      width: 100%;
      margin-top: 0.5rem;
    }
  }
}
