<section>
  <div class="close-button-line">
    <button mat-dialog-close class="cross">&times;</button>
  </div>
  <div mat-dialog-content class="product-data">
    <form [formGroup]="addProductForm" (submit)="submit()">
      <div class="form-input">
        <div class="item-atribute">
          <p>Nombre:</p>
          <input id="name" class="input input-name" type="text" autocomplete="off" formControlName="name"
            [class.invalid-input-container]="name.errors?.required && submitted">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors?.required">
              No puede ser vacío.
            </div>
          </div>
        </div>
        <div class="item-atribute">
          <p>Descripción:</p>
          <input id="description" class="input input-description" type="text" autocomplete="off"
            formControlName="description" [class.invalid-input-container]="description.errors?.required && submitted">
          <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
            <div *ngIf="description.errors?.required">
              No puede ser vacío.
            </div>
          </div>
        </div>
        <div class="item-atribute">
          <p>Unidades en stock:</p>
          <input id="stock" class="input input-stock" type="text" autocomplete="off" formControlName="stock"
            [class.invalid-input-container]="stock.errors?.required && stock.errors?.pattern && submitted">
          <div *ngIf="stock.invalid && (stock.dirty || stock.touched)" class="alert alert-danger">
            <div *ngIf="stock.errors?.required">
              No puede ser vacío.
            </div>
            <div *ngIf="stock.errors?.pattern">
              Debe ingresar un valor entero positivo.
            </div>
          </div>
        </div>
        <div class="item-atribute">
          <p>Precio de costo:</p>
          <input id="costPrice" class="input input-costprice" type="text" autocomplete="off" formControlName="costPrice"
            [class.invalid-input-container]="costPrice.errors?.required && costPrice.errors?.pattern && submitted">
          <div *ngIf="costPrice.invalid && (costPrice.dirty || costPrice.touched)" class="alert alert-danger">
            <div *ngIf="costPrice.errors?.required">
              No puede ser vacío.
            </div>
            <div *ngIf="costPrice.errors?.pattern">
              Debe ingresar un valor decimal positivo.
            </div>
          </div>
        </div>
        <div class="item-atribute">
          <p>Precio final:</p>
          <input id="price" class="input input-price" type="text" autocomplete="off" formControlName="price"
            [class.invalid-input-container]="price.errors?.required && price.errors?.pattern && submitted">
          <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
            <div *ngIf="price.errors?.required">
              No puede ser vacío.
            </div>
            <div *ngIf="price.errors?.pattern">
              Debe ingresar un valor decimal positivo.
            </div>
          </div>
        </div>
      </div>
      <div class="button-row">
        <button type="submit" class="button-modal-submit  action-btn-cancel" (click)="close()">
          Cancelar
        </button>
        <button type="submit" class="button-modal-submit action-btn-save" [disabled]="addProductForm.invalid || saving">
          Guardar
        </button>
      </div>
    </form>
  </div>
</section>
