<div class="containter">
  <div class="login-section">
    <form>
      <div class="logo">
        <img src="assets/images/circle.png" alt="Logo" title="Logo">
      </div>
      <div class="input-container">
        <input class="input-text" type="text" placeholder="Usuario">
      </div>
      <div class="input-container">
        <input class="input-text" type="password" placeholder="Contraseña">
      </div>
      <button class="login-btn">
        Ingresar
      </button>
    </form>
  </div>
</div>
