<div class="containter">
  <div class="login-section">
    <form [formGroup]="loginForm">
      <div class="logo">
        <img src="assets/images/circle.png" alt="Logo" title="Logo">
      </div>

      <div class="form-row">
        <div class="input-container"
          [class.invalid-input-container]="loginForm.get('userName').errors?.required && loginForm.get('userName').touched">
          <input class="input-text" type="text" placeholder="Usuario" formControlName="userName">
        </div>
        <div class="error-msg-container">
          <p *ngIf="loginForm.get('userName').errors?.required && loginForm.get('userName').touched" class="error-msg">
            El usuario no puede ser vacío
          </p>
        </div>
      </div>

      <div class="form-row">
        <div class="input-container"
          [class.invalid-input-container]="loginForm.get('userPassword').errors?.required && loginForm.get('userPassword').touched">
          <input class="input-text" type="password" placeholder="Contraseña" formControlName="userPassword">
        </div>
        <div class="error-msg-container">
          <p *ngIf="loginForm.get('userPassword').errors?.required && loginForm.get('userPassword').touched"
            class="error-msg">
            La contraseña no puede ser vacía
          </p>
        </div>
      </div>
      <button class="login-btn" (click)="onSubmit()" [disabled]="loginForm.invalid">
        Ingresar
      </button>
    </form>
  </div>

  <ul *ngIf="users">
    <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
  </ul>
</div>
