<section>
  <div class="close-button-line">
    <button mat-dialog-close class="cross">&times;</button>
  </div>
  <div mat-dialog-content class="product-data">

    <div class="atribute-row">
      <div class="item-atribute">
        <span>Nombre:</span>
      </div>
      <div class="item-atribute-value">
        <input id="name" class="input input-client" type="text" value={{name}} autocomplete="off">
      </div>
    </div>

    <div class="atribute-row">
      <div class="item-atribute">
        <span>Descripción:</span>
      </div>
      <div class="item-atribute-value">
        <input id="description" class="input input-client" type="text" value={{description}} autocomplete="off">
      </div>
    </div>

    <div class="atribute-row">
      <div class="item-atribute">
        <span>Stock:</span>
      </div>
      <div class="item-atribute-value">
        <input id="stock" class="input input-client" type="number" value={{stock}} autocomplete="off">
      </div>
    </div>

    <div class="atribute-row">
      <div class="item-atribute">
        <span>Precio:</span>
      </div>
      <div class="item-atribute-value">
        <input id="price" class="input input-client" type="number" value={{price}} autocomplete="off">
      </div>
    </div>
  </div>

  <div class="button-row">
    <button class="button">
      <a class="action-btn-cancel">Cancelar</a>
    </button>
    <button class="button">
      <a class="action-btn-save">Guardar</a>
    </button>
  </div>
</section>
