<section>
  <div class="close-button-line">
    <button mat-dialog-close class="cross">&times;</button>
  </div>
  <div mat-dialog-content class="user-data">

    <form [formGroup]="editUserForm" (submit)="submit()">
      <div class="form-input">
        <div class="item-atribute">
          <span>Usuario:</span>
          <input id="username" class="input input-user" type="text" formControlName="username">
        </div>
        <div class="item-atribute">
          <span>Rol:</span>
          <select class="action-select-box" formControlName="roles">
            <option value="User" class="select-option">Operador</option>
            <option value="Admin" class="select-option">Administrador</option>
          </select>
        </div>
        <div class="item-atribute">
          <span>Nueva contraseña:</span>
          <input id="password" class="input input-password" type="password" autocomplete="off"
            formControlName="password"
            [class.invalid-input-container]="password.hasError('required') && password.hasError('minlength') && password.hasError('hasNumber') && password.hasError('hasCapitalCase') && password.hasError('hasSmallCase') && submitted">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.hasError('required') || password.hasError('minlength')">
              Debe contener al menos 8 caracteres.
            </div>
            <div *ngIf="password.hasError('required') || password.hasError('hasNumber')">
              Debe contener al menos un numero.
            </div>
            <div *ngIf="password.hasError('required') || password.hasError('hasCapitalCase')">
              Debe contener al menos una mayuscula.
            </div>
            <div *ngIf="password.hasError('required') || password.hasError('hasSmallCase')">
              Debe contener al menos una minuscula.
            </div>
            <!--<div *ngIf="password.hasError('required') || password.hasError('hasSpecialCharacters')">
              Debe contener al menos un caracter especial.
            </div>-->
          </div>
        </div>
        <div class="item-atribute">
          <span>Confirmar contraseña:</span>
          <input id="repeatPassword" class="input input-password" type="password" autocomplete="off"
            formControlName="repeatPassword"
            [class.invalid-input-container]="repeatPassword.hasError('required') && repeatPassword.hasError('NoPassswordMatch') && submitted">
          <div *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)"
            class="alert alert-danger">
            <div *ngIf="repeatPassword.hasError('required')">
              No puede ser vacio.
            </div>
            <div *ngIf="repeatPassword.hasError('NoPassswordMatch')">
              Los passwords no coinciden.
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="button-row">
      <button class="button">
        <a class="action-btn-cancel" (click)="close()">Cancelar</a>
      </button>
      <button class="button">
        <a class="action-btn-save" (click)="submit()">Guardar</a>
      </button>
    </div>
  </div>
</section>