$light-black-color:rgb(32, 32, 37);
$shadow-black-color: #333333;

$grey-color:#555555;
$hard-grey-light-color:#adadad;
$light-grey-color: #1D1D1D;
$dark-grey-color: #1D1D1D;
$dark-hover-grey-color: #222B2F;
$shadow-grey-color:rgba(0, 0, 0, 0.1);

$sky-blue-color: #09916c;
$online: #09916c;

$red-error-color: red;

$white-color: white;
$light-white-color: #f2f2f2;
