//Media queries
$desktop: 'only screen and (max-width: 1200px)';
$tablet: 'only screen and (max-width: 768px)';
$midle-tablet:'only screen and (max-width: 560px)';
$mobile: 'only screen and (max-width: 479px)';
