<div class="panel-container">
  <div class="sidebar-header">
    <h5>FacturacionWeb</h5>
  </div>
  <div class="sidebar-profile">
    <div class="user-pic">
      <img class="img-responsive img-rounded" src="assets/images/logo.png" alt="User picture">
    </div>
    <div class="user-info">
      <span class="user-name">{{ userName }}
      </span>
      <span class="user-status">
        <span>Online </span>
        <img class="img-responsive img-rounded" src="assets/images/online.png" alt="">
      </span>
    </div>
  </div>

  <!--  
  <div class="head-container">
    <img src="assets/images/logo.png" width="50" height="50">
    <h1>{{ userName }}</h1>
  </div>
-->
  <div class="menu-section">
    <div class="item-section">
      <div>
        <div class="item">
          <a class="menu-item"><img class="img-responsive img-rounded" src="assets/images/facturacion.png">Facturación</a>
        </div>
        <div class="item">
          <a class="menu-item"><img class="img-responsive img-rounded" src="assets/images/facturasEmitidas.png">Facturas emitidas</a>
        </div>
        <div class="item">
          <a class="menu-item"><img class="img-responsive img-rounded" src="assets/images/stock.png">Control de stock</a>
        </div>
      </div>
    </div>
    <a class="logout-btn">Salir</a>
    <!-- <div class="foot-container">
      <p></p>
    </div> -->
  </div>
</div>
