<div class="panel-container">
  <div class="sidebar-header">
    <img src="assets/images/circle2.png" alt="Logo" title="Logo">
  </div>
  <div class="sidebar-profile">
    <div class="user-pic">
      <img src="assets/images/logo.png" alt="User picture">
    </div>
    <div class="user-info">
      <!--<pre>{{ currentDate }}</pre>
      <span class="user-name">{{ userName }}
      </span>-->
      <span>
        <span>Online </span>
        <img src="assets/images/online.png" alt="Online">
      </span>
    </div>
  </div>
  <div class="menu-section">
    <div class="item-section">
      <div>
        <div class="item">
          <a class="menu-item"><img src="assets/images/facturacion.png">Facturación</a>
        </div>
        <div class="item">
          <a class="menu-item"><img src="assets/images/facturasEmitidas.png">Facturas emitidas</a>
        </div>
        <div class="item">
          <a class="menu-item"><img src="assets/images/stock.png">Control de stock</a>
        </div>
      </div>
    </div>
    <a class="logout-btn" (click)="logout()">Salir</a>
  </div>
</div>
