@import 'colors';

	
.imagen:hover {filter: opacity(.5);}

.panel-container {
  width: 24rem;
  height: 100vh;
  font-size: 1.6em;
  background-color:$light-black-color;

  .sidebar-header {
    padding: 1rem 1rem;
    font-weight: bold;
    text-decoration: none;
    color: $white-color;
    text-align: center;
  }
  
  .sidebar-profile {
    padding: 1rem;
    overflow: hidden;
    margin-top: 1rem;
    border-top: 0.1px solid $online;
    border-bottom: 0.01px solid $online;

    .user-pic {
      float: left;
      width: 6rem;
      padding: 0.2rem;
      border-radius: 1.2rem;
      margin-right: 1.5rem;
      overflow: hidden;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      
    }
    .user-info {
      padding: 1rem;
      float: left;
      color: $white-color;

      >span {
        display: block;
      }
    }
  }

  .menu-section {
    display: flex;
    background-color: $light-black-color;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .item-section {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      color: $white-color;
      margin-top: 3rem;

      .item {
        width: 100%;
      }

      img {
        height: 3rem;
        width: 3rem;
        margin-right: 1rem;
      }

      .menu-item {
        padding: 1rem;
        width: auto;
        display: block;

        &:hover {
          background-color: $sky-blue-color;
        }
      }
    }

    .logout-btn {
      background-color: $dark-hover-grey-color;
      color: $white-color;
      text-align: center;
      padding: 0.8rem;
    }
  }
}
