@import 'colors';

.form-row{
  font-size: 3em;
  padding: 3rem 0 1rem 10rem;
}

.container {
  padding-left: 10rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between
}

.item {
  flex: 0 0 auto;
  margin: 10px;
  font-size: 1.5em;
}

.input {
  border-radius: 3px; 
  height: 1.5rem;
  border: 1px solid;
  padding: 1rem;
}

.product {
  width: 45rem;
}

.buttonAdd{
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1.2em;
  color: $white-color;
  background-color: #1883ba;
  border-radius: 1rem;
}

.buttonDel{
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1.2em;
  color: $white-color;
  background-color: #b44141;
  border-radius: 1rem;
}

.line {
  margin-right: 0rem;
  margin-left: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

table, td  {
  border-collapse: collapse;
  text-align: right;

}


