<section>
  <div class="form-row">
    <h1>Nota de pedido</h1>
  </div>
  <hr class="line">
  <form [formGroup]="invoicingForm">
    <div class="first-line-invoice">

      <div class="blue-container">
        <div class="sub-title">
          <p>Nombre del Cliente</p>
        </div>
        <div class="input-container">
          <input class="blue-input-name" matInput placeholder="Ingrese el nombre del Cliente" autocomplete="off"
            formControlName="client">
        </div>
      </div>

      <div class="blue-container">
        <div class="sub-title">
          <p>Método de Pago</p>
        </div>
        <select class="action-select-box" formControlName="paymentMethod">
          <option [selected]="true" value="efectivo" class="select-option">Efectivo</option>
          <option value="credito" class="select-option">Crédito</option>
          <option value="debito" class="select-option">Débito</option>
          <option value="cheque" class="select-option">Cheque</option>
        </select>
      </div>

      <div class="blue-container">
        <div class="sub-title">
          <p>Moneda</p>
        </div>
        <select class="action-select-box" formControlName="currency">
          <option [selected]="true" value="pesos">Pesos</option>
          <option value="dolares">Dólares</option>
          <option value="reales">Reales</option>
        </select>
      </div>
    </div>
  </form>
  <hr class="line">

  <div class="container">

    <div class="blue-container">
      <div class="input-container">
        <input [(ngModel)]="articuloselect.name" type="text" placeholder="Ingrese un Producto" class="input-product"
          matInput [matAutocomplete]="auto" (input)="filterProducts($event.target.value)">
        <mat-autocomplete #auto="matAutocomplete" class="action-select-box">
          <mat-option *ngFor="let product of filteredProducts" [value]="product.name"
            (onSelectionChange)="updateUnitPrice(product)">
            <p class="product-list">{{product.name| slice:0:30}}</p>
            <p class="product-list stock">({{product.stock}})</p>
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>

    <div class="item">
      <div class="blue-container">
        <div class="unit-price-label">
          <p class="label-title">Precio Unitario:</p>
        </div>
        <div class="input-container">
          <input [(ngModel)]="articuloselect.price" type="number" placeholder="0" (change)="modifyUnitPrice()"
            (keyup)="modifyUnitPrice()" class="input-unit-price">
        </div>
      </div>
    </div>

    <div class="item">
      <div class="blue-container">
        <div class="count-label">
          <p class="label-title">Cantidad:</p>
        </div>
        <div class="input-container">
          <input [(ngModel)]="articuloselect.quantity" type="number" placeholder="0" (change)="updateQuantityPrice()"
            (keyup)="updateQuantityPrice()" class="input-quantity">
        </div>
      </div>
    </div>

    <div class="item">
      <div class="blue-container">
        <div class="price-label">
          <p class="label-title">Precio:</p>
        </div>
        <div class="input-container">
          <input [(ngModel)]="articuloselect.total" type="number" placeholder="0" class="input-price" readonly disabled>
        </div>
      </div>
    </div>

    <div class="item">
      <a (click)="add()" class="action-btn-add">+</a>
    </div>
  </div>

  <div class="invoicing-container example-container">
    <table mat-table [dataSource]="sourceData" class="mat-elevation-z8 isMobile">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre de Producto </th>
        <td mat-cell *matCellDef="let articulo">
          <p class="mobile-label">Nombre de Producto: </p>
          {{articulo?.name}}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
        <td mat-cell *matCellDef="let articulo">
          <p class="mobile-label">Precio Unitario: </p>
          {{articulo?.price}}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let articulo">
          <p class="mobile-label">Cantidad: </p>
          {{articulo?.quantity}}
        </td>
        <td mat-footer-cell *matFooterCellDef>Total: </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let articulo">
          <p class="mobile-label">Precio: </p>
          {{articulo?.total}}
        </td>
        <td mat-footer-cell *matFooterCellDef> $ {{total}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let articulo; let j = index;">
          <button mat-raised-button focusable="false" class="action-btn-small">
            <a class="action-btn-small" (click)="openModalEdit(articulo)"><img src="assets/images/edit.png"></a>
          </button>
          <button mat-raised-button focusable="false" (click)="openModalDelete(articulo)" class="action-btn-small">
            <a class="action-btn-small"><img src="assets/images/trash.png"></a>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      <tr mat-footer-row *matFooterRowDef="columnas"></tr>
    </table>
  </div>

  <hr class="line">

  <div class="button-row">
    <a class="action-btn-cancel button" (click)="cleanInvoice()">Cancelar</a>
    <a class="action-btn-emit button" (click)="submitInvoice()">Emitir</a>
  </div>
</section>
