<div class="form-row">
  <h1>Nueva Factura</h1>
</div>
<hr class="line">
<div class="container">
  <div class="item">
    <input id="product" class="input input-name" type="text" placeholder="Nombre del producto">
  </div>
  <div class="item quantityColumn">
    <input id="count" class="input input-quantity" type="text" placeholder="Cantidad">
  </div>
  <div class="item">
    <span></span>
    <input id="price" class="input input-price" type="text" placeholder="Precio">
  </div>
  <div class="item">
    <button class="buttonAdd">
      <a class="buttonAdd">+</a>
    </button>
  </div>
</div>

<div class="invoicing-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="container">
  <div>
    <span>Total: </span>
    <span>$ XXXXXX </span>
  </div>
  <div>
    <button class="buttonAdd">
      <a class="buttonAdd">Emitir</a>
    </button>
    <button class="buttonDel">
      <a class="buttonDel">Limpiar</a>
    </button>
  </div>
</div>
