<div class="form-row">
  <h1>Nueva Factura</h1>
</div>

<div class="container">
  <div class="item">
    <input id="product" class="input product" type="text" placeholder="Nombre del producto">
  </div>
  <div class="item">
    <input id="count" class="input count" type="text" placeholder="Cantidad">
  </div>
  <div class="item">
    <span>$</span>
    <input id="prece" class="input price" type="text" placeholder="Precio">
  </div>
  <div class="item">
    <button class="buttonAdd">
      <a class="buttonAdd">+</a>
    </button>
  </div>
</div>

<div class="line">
  <hr>
</div>

<div class="container">
  <table rules="rows">
    <tr>
      <td>
        <div class="container">
          <div>
            <button class="buttonDel">
              <a class="buttonDel">-</a>
            </button>
          </div>

          <div class="item">
            <input id="product" class="input product" type="text" placeholder="PH X (99) $100">
          </div>

          <div class="item">
            <input id="count" class="input count" type="text" placeholder="4">
          </div>

        </div>
      </td>
      <td>
        <div class="item">
          <input id="prece" class="input price" type="text" placeholder="400.00">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        Total
      </td>
      <td>
        <div class="item">
          <input id="prece" class="input price" type="text" placeholder="400.00">
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="container">
  <button class="buttonAdd">
    <a class="buttonAdd">Emitir</a>
  </button>
  <button class="buttonDel">
    <a class="buttonDel">Limpiar</a>
  </button>
</div>
