@import 'colors';
@import 'variables';

:host {
  flex: 0.8;

  *:focus {outline:0;};
}

section {
  padding: 0 6rem;

  @media #{$tablet} {
    padding: 2rem 6rem 2rem 0;
  }

  @media #{$mobile} {
    font-size: 0.9em;
    padding: 2rem 3rem 2rem 0;
  }
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    display: flex;;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
    text-align: left;
    font-weight: normal;
  }

  td {
    width: 100% !important;

    &.mat-cell {
      padding: 1rem !important;
      text-align: left !important;
    }
  }

  .mat-column-action {
    min-width: 1rem !important;
  }
}

.mat-column-total {
  white-space: nowrap;
}

.form-row {
  font-size: 3em;
  padding: 3rem 0 1rem;
  user-select:none;

  @media #{$tablet} {
    padding: 7rem 0 0;
  }
}

.line {
  margin: 3rem 0 1rem;
}

.first-line-invoice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media #{$midle-tablet} {
    flex-direction: column;
  }
}

.container {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  flex-wrap: wrap;

  @media #{$midle-tablet} {
    flex-direction: column;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  color: $white-color;

  @media #{$midle-tablet} {
    width: 100%;
  }
}

.blue-container {
  display: flex;
  justify-content: flex-start;
  align-items:center;
  color: $white-color;
  font-size: 1.6em;
  margin-top: 1rem;
  cursor:context-menu;
  user-select:none;

  @media #{$midle-tablet} {
    flex-direction: column;
    width: 100%;
  }

  .sub-title {
    background-color: $blue-color;
    white-space: nowrap;

    @media #{$midle-tablet} {
      width: 100%;
    }

    p {
      padding: 1rem;
    }
  }

  .input-container {
    width: 100%;
    display: flex;
    justify-content: stretch;
  }

  .blue-input-name {
    color: $shadow-black-color;
    width: 25rem;
    border:solid 0.1rem $dark-white-color;
    padding: 1rem;
    outline: none;

    @media #{$midle-tablet} {
      width: 100%;
    }
  }

  .input-product {
    color: $shadow-black-color;
    width: 30rem;
    border:solid 0.1rem $dark-white-color;
    padding: 1rem;
    outline: none;

    @media #{$midle-tablet} {
      width: 100%;
    }
  }

  .input-unit-price {
    color: $shadow-black-color;
    width: 10rem;
    border:solid 0.1rem $dark-white-color;
    padding: 1rem;
    text-align: center;

    @media #{$midle-tablet} {
      width: 100%;
    }
  }

  .input-quantity {
    color: $shadow-black-color;
    width: 10rem;
    border:solid 0.1rem $dark-white-color;
    padding: 1rem;
    text-align: center;
    outline: none;

    @media #{$midle-tablet} {
      width: 100%;
    }
  }

  .input-price {
    color: $shadow-black-color;
    width: 10rem;
    border:solid 0.1rem $dark-white-color;
    padding: 1rem;
    text-align: center;
    outline: none;

    @media #{$midle-tablet} {
      width: 100%;
    }
  }
}

.unit-price-label {
  min-width: 11.5rem;
  color: $light-black-color;
  text-align: right;
  padding-right: 1rem;
}

.count-label {
  min-width: 7.5rem;
  color: $light-black-color;
  text-align: right;
  padding-right: 1rem;
}

.price-label {
  min-width: 5.5rem;
  color: $light-black-color;
  text-align: right;
  padding-right: 1rem;
}

.invoicing-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.action-select-box {
  width: 15rem;
  border: solid 0.1rem $dark-white-color;
  padding: 0.9rem;
  background-color: $dark-hover-white-color;
  overflow:hidden;

  @media #{$midle-tablet} {
    width: 100%;
  }

  &:hover {
    background-color: $shadow-white-color;
  }
}

.mat-elevation-z8{
  user-select:none;
}

.header-align-right{
  display: flex;
  padding: 2.1rem 0;
  justify-content: center;
}

.mat-column-name {
  width: 30%;
  text-align: left;
}

.mat-column-price{
  width: 30%;
  text-align: center;
}

.mat-column-quantity{
  text-align: center;
}

.mat-column-total{
  text-align: center;
}

.mat-column-action{
  text-align: center;
  min-width: 10rem;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 25%;
  margin: auto;
}

.action-btn-add {
  color: $white-color;
  background-color: $dark-green-color;
  padding: 1rem 1.5rem;
  font-size: 1.35em;
  border-radius: 0.4rem;
  display: inline-block;
  user-select:none;

  @media #{$midle-tablet} {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  &:hover {
    background-color: $green-color;
  }

  &:active {
    box-shadow: 0 0.063rem 0.7rem $light-black-color;
  }
}

.action-btn-small {
  color: $white-color;
  display: inline-block;
  border-radius: 0.9rem;
  outline: none;
  margin: 0 0.1rem;

  &:hover {
    transition: all 0.5s;
    filter: brightness(90%);
  }

  &:active {
    box-shadow: 0 0.063rem 0.5rem $light-black-color;
    transition: all 0 s;
  }
}

.action-btn-cancel {
  color: $white-color;
  background-color: $grey-color;
  padding: 0.5rem 1.5rem;
  font-size: 1.8em;
  border-radius: 0.2rem;
  user-select:none;

  &:hover {
    background-color: $shadow-black-color;
    transition: all 0.5s;
  }

  &:active {
    box-shadow: 0 0.063rem 0.5rem $light-black-color;
    transition: all 0s;
  }
}

.action-btn-emit {
  color: $white-color;
  background-color: $blue-color;
  padding: 0.5rem 2.5rem;
  font-size: 1.8em;
  border-radius: 0.2rem;
  user-select:none;
  margin: 0 1rem;

  &:hover {
    background-color: $dark-blue-color;
    transition: all 0.5s;
  }

  &:active{
    box-shadow: 0 0.063rem 0.5rem $light-black-color;
    transition: all 0s;
  }
}

.label-title {
  margin-bottom: 0.5rem;
}
