<section>
  <div class="close-button-line">
    <button mat-dialog-close class="cross">&times;</button>
  </div>
  <div mat-dialog-content class="product-data">
    <form [formGroup]="productForm" (submit)="submit()">
      <div class="form-input">
        <div class="item-atribute">
          <span>Nombre</span>
          <input id="name" class="input input-name" type="text" autocomplete="off" disabled readonly
            formControlName="name">
        </div>
        <div class="item-atribute">
          <span>Precio unitario</span>
          <input id="price" class="input input-description" type="text" (change)="negativeValuesControl($event)"
            (keyup)="negativeValuesControl($event)" formControlName="price"
            [class.invalid-input-container]="price.errors?.required && price.errors?.pattern && submitted">
          <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
            <div *ngIf="price.errors?.required">
              No puede ser vacio.
            </div>
            <div *ngIf="price.errors?.pattern">
              Debe ingresar un valor decimal positivo.
            </div>
          </div>
        </div>
        <div class="item-atribute">
          <span>Cantidad</span>
          <input id="quantity" class="input input-stock" type="text" autocomplete="off"
            (change)="negativeValuesControl($event)" (keyup)="negativeValuesControl($event)" formControlName="quantity"
            [class.invalid-input-container]="quantity.errors?.required && quantity.errors?.pattern && submitted">
          <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert alert-danger">
            <div *ngIf="quantity.errors?.required">
              No puede ser vacio.
            </div>
            <div *ngIf="quantity.errors?.pattern">
              Debe ingresar un valor entero positivo.
            </div>
          </div>
        </div>
        <div class="item-atribute">
          <span>Precio</span>
          <input id="total" class="input input-price" type="text" autocomplete="off" disabled readonly
            formControlName="total"
            [class.invalid-input-container]="total.errors?.required && total.errors?.pattern && submitted">
          <div *ngIf="total.invalid && (total.dirty || total.touched)" class="alert alert-danger">
            <div *ngIf="total.errors?.required">
              No puede ser vacio.
            </div>
            <div *ngIf="total.errors?.pattern">
              Debe ingresar un valor decimal positivo.
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class=" button-row">
      <button class="button">
        <a class="action-btn-cancel" (click)="close()">Cancelar</a>
      </button>
      <button type="submit" class="button">
        <a class="action-btn-save" (click)="submit()">Aceptar</a>
      </button>
    </div>
  </div>
</section>