<section>
  <div class="close-button-line">
    <button mat-dialog-close class="cross">&times;</button>
  </div>
  <div mat-dialog-content class="product-data">

    <div class="form-input">
      <div class="item-atribute">
        <span>Nombre:</span>
        <input id="name" class="input input-name" type="text" value={{name}} autocomplete="off" disabled readonly>
      </div>
      <div class="item-atribute">
        <span>Precio unitario:</span>
        <input id="description" class="input input-description" type="text" value={{unitprice}} disabled readonly>
      </div>
      <div class="item-atribute">
        <span>Cantidad:</span>
        <input id="count" class="input input-stock" type="number" value={{count}} autocomplete="off">
      </div>
      <div class="item-atribute">
        <span>Precio:</span>
        <input id="price" class="input input-price" type="number" value={{price}} autocomplete="off">
      </div>
    </div>

    <div class="button-row">
      <button class="button">
        <a class="action-btn-cancel" (click)="close()">Cancelar</a>
      </button>
      <button class="button">
        <a class="action-btn-save" (click)="submit()">Aceptar</a>
      </button>
    </div>
  </div>
</section>
