<section>
  <div class="close-button-line">
    <button mat-dialog-close class="cross">&times;</button>
  </div>
  <div mat-dialog-content class="product-data">
    <form [formGroup]="productForm" (submit)="submit()">
      <div class="form-input">
        <div class="item-atribute">
          <p>Nombre</p>
          <input id="name" class="input input-name" type="text" autocomplete="off" formControlName="name">
        </div>
        <div class="item-atribute">
          <p>Precio unitario</p>
          <input id="price" class="input input-description" type="text" (change)="negativeValuesControl($event)"
            (keyup)="negativeValuesControl($event)" formControlName="price"
            [class.invalid-input-container]="price.errors?.required && price.errors?.pattern && submitted">
          <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
            <div *ngIf="price.errors?.required">
              No puede ser vacío.
            </div>
            <div *ngIf="price.errors?.pattern">
              Debe ingresar un valor decimal positivo.
            </div>
          </div>
        </div>
        <div class="item-atribute">
          <p>Cantidad</p>
          <input id="quantity" class="input input-stock" type="text" autocomplete="off"
            (change)="negativeValuesControl($event)" (keyup)="negativeValuesControl($event)" formControlName="quantity"
            [class.invalid-input-container]="quantity.errors?.required && quantity.errors?.pattern && submitted">
          <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert alert-danger">
            <div *ngIf="quantity.errors?.required">
              No puede ser vacío.
            </div>
            <div *ngIf="quantity.errors?.pattern">
              Debe ingresar un valor entero positivo.
            </div>
          </div>
        </div>
        <div class="item-atribute">
          <p>Precio</p>
          <input id="total" class="input input-price" type="text" autocomplete="off" formControlName="total"
            [class.invalid-input-container]="total.errors?.required && total.errors?.pattern && submitted">
          <div *ngIf="total.invalid && (total.dirty || total.touched)" class="alert alert-danger">
            <div *ngIf="total.errors?.required">
              No puede ser vacío.
            </div>
            <div *ngIf="total.errors?.pattern">
              Debe ingresar un valor decimal positivo.
            </div>
          </div>
        </div>
      </div>
      <div class="button-row">
        <button type="submit" class="button-invoicing action-btn-cancel" (click)="close()">
          Cancelar
        </button>
        <button type="submit" class="button-invoicing action-btn-save" [disabled]="productForm.invalid">
          Aceptar
        </button>
      </div>
    </form>
  </div>
</section>
