@import 'colors';

:host{
  *:focus {outline:0;};
}

.close-button-line{
  display: flex;
  justify-content: flex-end;
}

.cross{
  background: $red-error-color;
  color: $white-color;
  padding: 0.4rem 0.9rem;
  border-radius: 0.4rem;
  font-size: 1.7em;
  user-select:none;
  outline: none;

  &:hover {
    background-color: $shadow-red-color;
    transition: all 0.5s;
  }
  &:active{
    box-shadow: 0 0.063rem 0.5rem $light-black-color;
    transition: all 0s;
  }
}

.invoice-data{
  margin-top: 2rem;
  width: 80rem;
  user-select:none;
}

.line {
  margin: 1rem;
}

.form-init{
  font-size: 1.5em;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoicing-container {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  padding: 1rem;
}

.mat-elevation-z8{
  user-select:none;
}

.mat-column-name {
  width: 50%;
}

.mat-column-unitPrice{
  text-align: center;
}

.mat-column-quantity{
  text-align: center;
}

.mat-column-price{
  text-align: center;
}

.mat-dialog-actions{
  display: flex;
  justify-content: center;
}

.button{
  border-radius: 0.9rem;

  .action-btn-emit{
    color: $white-color;
    background-color: $blue-color;
    padding: 0.5rem 2.5rem;
    font-size: 1.8em;
    border-radius: 0.2rem;
    user-select:none;

    &:hover {
      background-color: $dark-blue-color;
      transition: all 0.5s;
    }
    &:active{
      box-shadow: 0 0.063rem 0.5rem $light-black-color;
      transition: all 0s;
    }
  }
}
