@import 'colors';
@import 'variables';

:host {
  flex: 0.8;

  ::ng-deep .mat-paginator-page-size {
    align-items: center !important;
  }

  *:focus {outline:0;};
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
    text-align: left;
    font-weight: normal;
  }

  td {
    width: 90% !important;

    &.mat-cell {
      padding: 1rem !important;
      text-align: left !important;
    }
  }

  .mat-column-action {
    min-width: 8rem !important;
  }
}

section {
  padding: 0 6rem;

  @media #{$tablet} {
    padding: 2rem 6rem 2rem 0;
  }

  @media #{$mobile} {
    font-size: 0.9em;
    padding: 2rem 3rem 2rem 0;
  }
}

.filter-additem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media #{$midle-tablet} {
    flex-direction: column;
  }
}

.form-row{
  font-size: 3em;
  padding: 3rem 0 1rem;
  user-select:none;
}

.line {
  margin: 2rem 0;
}

.blue-container {
  display: flex;
  justify-content: flex-start;
  align-items:center;
  color: $white-color;
  font-size: 1.6em;
  margin-top: 1rem;
  cursor:context-menu;
  user-select:none;

  @media #{$midle-tablet} {
    flex-direction: column;
    width: 100%;
  }

  .sub-title {
    background-color: $blue-color;
    white-space: nowrap;

    @media #{$midle-tablet} {
      width: 100%;
    }

    p {
      padding: 1rem;
    }
  }

  .input-container {
    width: 100%;
    display: flex;
    justify-content: stretch;
  }

  .blue-input-name {
    color: $shadow-black-color;
    width: 25rem;
    border:solid 0.1rem $dark-white-color;
    padding: 0.9rem;
    outline: none;

    @media #{$midle-tablet} {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

.action-btn-small{
  color: $white-color;
  display: inline-block;
  border-radius: 0.9rem;
  outline: none;

  &:hover {
    transition: all 0.5s;
    filter: brightness(90%);
  }
  &:active{
    box-shadow: 0 0.063rem 0.5rem $light-black-color;
    transition: all 0 s;
  }
}

.add-btn{
  display: flex;

  .action-btn-add{
    user-select:none;
    color: $white-color;
    background-color: $dark-green-color;
    padding: 1rem 1.5rem;
    font-size: 1.35em;
    border-radius: 0.4rem;
    display: inline-block;
    user-select:none;
    min-width: 1rem;

    @media #{$midle-tablet} {
      width: 100%;
      text-align: center;
    }
    
    &:hover {
      background-color: $green-color;
      transition: all 0.5s;
    }
    &:active{
      box-shadow: 0 0.063rem 0.3rem $light-black-color;
      transition: all 0s;
    }
  }
  @media #{$midle-tablet} {
    width: 100%;
    text-align: center;
  }
}

.invoicing-container {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  padding: 1rem;
}

.mat-elevation-z8{
  user-select:none;
}

.header-align-right{
  display: flex;
  padding: 21px 0;
  justify-content: center;
}
.mat-column-name {
  width: 30%;
  text-align: left;
  padding-right: 2rem;
}

.mat-column-description{
  width: 30%;
  text-align: left;
  padding-right: 2rem;
}

.mat-column-stock{
  text-align: left;
  padding-right: 2rem;
}

.mat-column-price{
  text-align: left;
  padding-right: 2rem;
}

.mat-column-action{
  text-align: center;
  min-width: 8rem;
  padding-right: 2rem;
}

.page-number{
  margin-top: 1.7rem;
  user-select:none;
  background-color: $white-background-color;
}

.total-stock-data{
  font-size: 1.5em;
  user-select:none;
}
