@import 'colors';


:host {
  flex: 0.8;

  ::ng-deep .mat-paginator-page-size {
    align-items: center !important;
  }

  *:focus {outline:0;};
}

section {
  padding: 0 6rem;
}

.form-row{
  font-size: 3em;
  padding: 3rem 0 1rem;
  user-select:none;
}

.line {
  margin: 2rem 0;
}

.filter-additem{
  display: flex;
  justify-content: space-between;
}

.filter-container{
  display: flex;
  align-items:center;
  color: $white-color;
  font-size: 1.6em;
  user-select:none;

  .filter-label{
    padding: 1rem 2rem;
    background-color: $blue-color;
  }
  .filter-input{
    color: $shadow-black-color;
    width: 30rem;
    border:solid 0.1rem $dark-white-color;
    padding: 0.9rem;
  }
  &:hover{
    cursor:context-menu;
  }
}

.action-btn-small{
  color: $white-color;
  display: inline-block;
  border-radius: 0.9rem;
  outline: none;

  &:hover {
    transition: all 0.5s;
    filter: brightness(90%);
  }
  &:active{
    box-shadow: 0 0.063rem 0.5rem $light-black-color;
    transition: all 0 s;
  }
}

.add-btn{
  display: flex;
  min-width: 5rem;

  .action-btn-add{
    user-select:none;
    color: $white-color;
    background-color: $dark-green-color;
    padding: 1rem 1.5rem;
    font-size: 1.35em;
    border-radius: 0.4rem;

    &:hover {
      background-color: $green-color;
      transition: all 0.5s;
    }
    &:active{
      box-shadow: 0 0.063rem 0.3rem $light-black-color;
      transition: all 0s;
    }
  }
}

.invoicing-container {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  padding: 1rem;
}

.mat-elevation-z8{
  user-select:none;
}

.header-align-right{
  display: flex;
  padding: 21px 0;
  justify-content: center;
}
.mat-column-name {
  width: 30%;
  text-align: left;
}

.mat-column-description{
  width: 30%;
  text-align: left;
}

.mat-column-stock{
  text-align: left;
}

.mat-column-price{
  text-align: left;
}

.mat-column-action{
  text-align: center;
  min-width: 10rem;
}

.page-number{
  margin-top: 1.7rem;
  user-select:none;
  background-color: $white-background-color;
}

.total-stock-data{
  font-size: 1.5em;
  user-select:none;
}
