.bubble-container {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  top: 5px;
  left: 5px;
  right: 5px;
  z-index: 1001;
  transform: translateY(-125%);
  transition: all 0.3s ease-in-out;
  pointer-events: none;

  &.visible {
    transform: translateY(0%);
  }
}

img {
  padding-right: 0.5rem;
}

.message-bubble {
  align-items: center;
  background-color: #fef0f0;
  border: 1px solid #ed0808;
  border-radius: 1rem;

  display: flex;
  min-width: 26rem;
  max-width: 50rem;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: 50px;
  pointer-events: auto;

  p {
    $font-size: 14px;
    $line-clamp: 3;
    $line-height: 1.5;

    color: $dark-font-color;
    font-size: $font-size;
    text-align: center;

    // In case the text is too long. Only 3 lines are shown.
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line-clamp;
    line-height: $line-height; // Fallback
    max-height: calc(#{$font-size} * #{$line-height} * #{$line-clamp}); // Fallback
  }

  button {
    background-color: transparent;
    text-transform: uppercase;
    color: $dark-font-color;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    font-size: 2em;
    line-height: 1;
  }

  &.success {
    background-color: #d5f3dc;
    border-color: #1c8333;
  }
}
